/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #4ad48f;
    color: #333;
    margin-top: 4rem;
}

 /* header place */
 .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  /* logo place */
  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  /* logo */
  .logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 3rem;
  }
  
  /* nav bar */
  .nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem;
  }
  
  /* nav space oround */
  .nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
  }
  
  /* nav a hover */
  .nav a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
  }

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.hero-text h1 span {
    /* background: #0b6833; */
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.hero-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(206, 7, 7);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn:hover {
    background: #0a5a2c;
}

/* Hero Image */
.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 70%;
}


/* footer */
footer {
    background: red;
    text-align: center;
    padding: 10px 1px;
    font-size: 17px;
    color: white;
    border-top: 1px solid #eee;
    margin-top: 58px;
  }



/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
}